<div>
  <div style="margin: 0; padding: 50px;">
    <div class="section p-align-center" style="text-align: center; color: wheat; height: 10%;">
      <h2>Welcome to Data At Rest Quality Analysis Tool !</h2>
    </div>
    <div class="section">
      <p-card [styleClass]="'fill_height'" header="What is qDAR ?">
        <p>

        </p>
      </p-card>
    </div>
    <div class="section">
      <p-card [styleClass]="'fill_height'" header="Note to Users">
        <p>

        </p>
      </p-card>
    </div>
    <div class="section">
      <p-card [styleClass]="'fill_height'" header=" Have a question ?">
        <p>

        </p>
      </p-card>
    </div>
  </div>
</div>
