.dash-page-title {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.dash-page-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
  padding: 20px;
}
