.dash-page-title {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.dash-page-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-container-adf {
  background-color: white;
  width: 100%;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: [facilities] 1fr [dashboord] 6fr;
  grid-template-rows: auto;
  overflow: hidden;
  color: #444;
  height: 100%;
  background-color: #d6d6d6e3;
  border-bottom: 1px solid #d6d6d6e3;
}

.facilities {
  grid-column: facilities;
  grid-gap: 2px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [facility-title] minmax(min-content, 47px)  [facility-filter] minmax(min-content, 40px) [facility-content] auto;
  color: #444;
  height: 100%;
  background-color: #d6d6d6e3;
  border-bottom: 1px solid #d6d6d6e3;
}

.facility-title {
  grid-column: 1;
  grid-row: facility-title;
  background-color: white;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facility-filter {
  grid-column: 1;
  background-color: white;
  grid-row: facility-filter;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facility-content {
  grid-column: 1;
  background-color: #fff6e9;
  grid-row: facility-content;
}
