.danger-zone {
  background-color: pink !important;
  height: 100%;
}

.ok-zone {
  background-color: #ccfdcc !important;
  height: 100%;
}

.danger-bar {
  background-color: red !important;
}

.ok-bar {
  background-color: blue !important;
}

.threshold {
  border-right: 2px solid brown;
}

.value {
  text-align: center;
  font-weight: bold;
}

.bar {
  height: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
