<div style="display: flex; justify-content: flex-start; align-items: stretch; width: 100%; height: 40px;">
  <div class="threshold zone" [ngClass]="{ 'danger-zone' : start.danger, 'ok-zone' : !start.danger }" [ngStyle]="{ 'width' : start.width + '%' }">
    <span class="value"  *ngIf="showValue && start.value"> {{start.value ? (start.value | number:'.1') + '%' : '' }}</span>
    <div class="bar" [ngClass]="{ 'danger-bar' : start.danger, 'ok-bar' : !start.danger }" [ngStyle]="{ 'width' : start.barWidth + '%' }">

    </div>
  </div>
  <div class="zone" [ngClass]="{ 'danger-zone' : end.danger, 'ok-zone' : !end.danger }" [ngStyle]="{ 'width' : end.width + '%' }">
    <span class="value" *ngIf="showValue && end.value" >{{end.value ? (end.value | number:'.1') + '%' : '' }}</span>
    <div class="bar"  [ngClass]="{ 'danger-bar' : end.danger, 'ok-bar' : !end.danger }" [ngStyle]="{ 'width' : end.barWidth + '%' }">

    </div>
  </div>
</div>
