<div class="footer-layout">
	<div class="footer-section">
		<span>
      <span style="font-weight: bold;">Application Date</span>
      <span> MM/dd/yyyy </span>
    </span>
		<span>
      <span style="font-weight: bold;">Application Version</span>
      <span> v1.0 </span>
    </span>
	</div>
	<div class="footer-section">
		<span style="font-weight: bold;">Supported Browsers</span>
		<span>
			<i class="fa fa-firefox"></i> Firefox, <i class="fa fa-chrome"></i> Chrome, <i class="fa fa-safari"></i>Safari, <i class="fa fa-internet-explorer"></i> IE 9+
		</span>
	</div>
	<div class="footer-section">
    <span style="font-weight: bold;">External Links</span>
    <div>
      <i class="fa fa-exclamation-triangle"></i> <a href="http://www.nist.gov/public_affairs/disclaimer.cfm" target="_blank" title="View Disclaimer"> Disclaimer</a>,
      <i class="fa fa-user-secret"></i> <a href="http://www.nist.gov/public_affairs/privacy.cfm#privpolicy" target="_blank" title="View Privacy Policy"> Privacy Policy</a>,
      <i class="fa fa-envelope-o"></i> <a ng-href="mailto:" title="Email Website Administrator @: " href="mailto:"> Website Administrator</a>
    </div>
	</div>
</div>
