<ng-template #headerControls>
  <a download="configuration.json" [href]="'/api/configuration/'+value.id+'/download'" *ngIf="(widget.containsUnsavedChanges$() | async) === false">
    <button class="btn btn-sm btn-dark" style="margin-right: 5px;" [disabled]="widget.containsUnsavedChanges$() | async">
      <i class="fa fa-download"></i>
      Download
    </button>
  </a>
  <button class="btn btn-sm btn-dark" style="margin-right: 5px;" *ngIf="(widget.containsUnsavedChanges$() | async)" [disabled]="true">
    <i class="fa fa-download"></i>
    Download
  </button>
  <button class="btn btn-sm btn-primary" style="margin-right: 5px;"
    [disabled]="widget.containsUnsavedChanges$() | async"
    (click)="publish()"
    *ngIf="isOwned && !isPublished && (isAdmin$ | async)"
  >
    <i class="fa fa-globe"></i>
    Publish
  </button>
  <button class="btn btn-sm btn-info" style="margin-right: 5px;" [disabled]="widget.containsUnsavedChanges$() | async" (click)="lock()" *ngIf="isOwned && !isLocked">
    <i class="fa fa-lock"></i>
    Lock
  </button>
</ng-template>
<form>
  <div class="form-group">
    <label for="name"><strong>Configuration Name</strong></label>
    <input type="text" placeholder="Name" class="form-control" name="name" id="name" [ngModel]="value.name" (input)="nameChange($event.target.value)" [disabled]="viewOnly" required>
  </div>
  <div class="form-group" >
    <label for="description"><strong>Description</strong></label>
    <p-editor *ngIf="!viewOnly" name="description" id="description" [ngModel]="value.description" (ngModelChange)="descriptionChange($event)" [style]="{'height':'130px'}">
    </p-editor>
    <div *ngIf="viewOnly" [innerHTML]="value.description"></div>
  </div>
  <div class="form-group" >
    <label for="asOf"><strong>Analyse As Date</strong></label><br>
    <p-calendar
      inputStyleClass="form-control"
      *ngIf="!viewOnly"
      name="asOf"
      id="asOf"
      [ngModel]="value.payload.asOf"
      dateFormat="mm/dd/yy"
      dataType="string"
      (ngModelChange)="asOfChange($event)"
      placeholder="Analyse As Of Day Of Analysis"
      appendTo="body"
    ></p-calendar>
    <span *ngIf="viewOnly">{{ value.payload.asOf ? value.payload.asOf : 'Analyse as of day of analysis' }}</span>
  </div>
  <div class="form-group">
    <label for="ageGroups"><strong>Age Groups</strong></label>
    <app-age-groups
      id="ageGroups"
      [ageGroups]="value.payload.ageGroups"
      [viewOnly]="viewOnly"
      (valueChange)="ageGroupsChange($event)"
    ></app-age-groups>
  </div>
  <div class="form-group">
    <label for="detections"><strong>Managed Detections</strong></label>
    <app-detections-list
      id="detections"
      [viewOnly]="viewOnly"
      [detections]="detections | async"
      [value]="value.payload.detections"
      (valueChange)="detectionsChange($event)"
    ></app-detections-list>
  </div>
</form>
