.drop-zone {
  border: 3px dashed darkblue;
  background-color: rgb(242, 250, 253);
  color: blue;
  font-weight: bold;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
