<ng-template #headerControls>
  <button class="btn btn-sm btn-primary" (click)="createPayload()">
    <i class="fa fa-plus"></i>
    Add Data Table By Query
  </button>
</ng-template>
<div *ngIf="labels$ | async as labelizer">
  <div  *ngFor="let query of value.data; let panelIndex = index" style="margin-top: 5px; margin-bottom: 5px;">
    <div style="display: flex; align-items: center; justify-content: center; padding: 5px;background-color: #f3f3f3;  border: 1px solid gray;">
      <i *ngIf="accordion[panelIndex]" class="fa fa-chevron-down" style="margin-left: 5px;" (click)="toggleAccordion(panelIndex)"></i>
      <i *ngIf="!accordion[panelIndex]" class="fa fa-chevron-right" style="margin-left: 5px;" (click)="toggleAccordion(panelIndex)"></i>
      <div style="display: flex; align-items: center; justify-content: space-between; flex-grow: 1; margin-left: 15px;">
        <span>Data Query {{ query.caption ? ' - ' + query.caption : '' }} - {{nameOf(query.type)}}</span>
        <div>
          <button class="btn btn-sm btn-primary" (click)="editPayload(query, panelIndex)" >
            <i class="fa fa-pencil"></i>
          </button>
          <button class="btn btn-sm btn-danger" style="margin-left: 5px;" (click)="removePayload(panelIndex)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="accordion[panelIndex]" style="padding: 5px; border: 1px solid gray; border-top: 0;">
      <app-query-display [labelizer]="labelizer" [query]="query" ></app-query-display>
    </div>
  </div>
