.form-narrative {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-group-text {
  flex-grow: 1;
}

.title {
  text-align: center;
  background-color: aliceblue;
}

.field {
  vertical-align: middle;
  text-align: center;
}

.field-title {
  width: 200px;
}
